.jcarousel {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 1000px;
}

.jcarousel-wrapper {
    margin: 20px auto;
    margin-bottom: 0;
    position: relative;
    width: 1000px;
    height: 350px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 1000px;
    height: 350px;
}

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0;
    margin-left: -22px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    border: 1px solid #2f4962;
}

.jcarousel-pagination a.active {
    background: #2f4962;
}

.jcarousel div.image {
    width: 1000px;
    height: 350px;
    background-size: 100% auto;
    background-position: 0px -190px;
}

.jcarousel div.description-wrapper {
    position: relative;
    bottom: 368px;
    left: 0%;
    width: 350px;
    height: 350px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(106, 119, 144, 0.5))
}

div.description {
    position: relative;
    margin-right: 60px;
    margin-left: 30px;
    text-align: left;
}

div.description hr {
    border-color: #ff9a00;
    -webkit-margin-after: 0.5em;
    border-width: 2px;
}

div.description h3 {
    position: relative;
    text-align: left;
    margin-top: 18px;
    bottom: -33px;
    margin-bottom: 45px;
    line-height: 1;
    color: #242529;
    font-size: 45px;
    /*font-family: 'Arvo', 'Helvetica', Helvetica, Arial, sans-serif;*/
    font-weight: initial;
}

div.description button {
    width: 110px;
    height: 30px;
    background-color: #ff9a00;
    border-radius: 3px;
    color: #fff;
    border: 0px;
    margin-top: 15px;
}