@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica', Helvetica, Arial, sans-serif;
    /*color: #4E443C;*/
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #7c7c7c;
    text-align: center;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

.advantages-header {
    position: relative;
    width: 100%;
    background-color: #dee5ef;
    padding: 2px;
}

.advantages-header h2 {
    position:relative;
    color:#000;
    margin-bottom: 0;
}

.advantages-header hr {
    width: 1000px;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

.advantages-wrapper {
    position: relative;
    background-color: #fff;
    width: 100%;
}

.my-flex-container {
    display: flex;
    position: relative;
    width: 1000px;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
}

.my-flex-block {
    width: 125px;
    margin: 0px 20px
}

.advantages-image {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: #dde5f0;
    background-size: 100% 100%;
    border: 8px solid rgb(214, 218, 241);
    margin: 0 auto;
    transition: 0.5s;
}

.advantages-image:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.my-flex-block p {
    font-weight: bolder;
    color: black;
}

.modal-dialog {
    width: 450px;
}

.modal-body {
    text-align: left;
    margin-bottom: 20px;
}

.modal-header {
    border-bottom: 0;
}

.modal-body hr {
    border-color: #d9a047;
    padding-left: -33px;
    margin: auto;
    margin-left: 40px;
    margin-right: 15px;
    border-width: 2px;
}
.modal-title {
    font-size: 30px;
    text-align: left;
    margin-left: 40px;
}
